@model AutoRepairShop.Web.Data.Entities.Brand

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <h4>Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddModel" asp-route-id="@Model.Id" class="btn btn-info">Add Model</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

<h4>Models</h4>
@if (Model.Models == null || Model.Models.Count == 0)
{
    <h5>No Models added yet</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Models.FirstOrDefault().ModelName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Models.OrderBy(c => c.ModelName))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td id="@item.Id">
                        <a asp-action="EditModel" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="DeleteModel" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}