@model AutoRepairShop.Web.Data.Entities.Brand

@{
    ViewData["Title"] = "Brand Details";
}



<div class="timeline">
    <div class="tm-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li>
                            <label>Go to</label>
                        </li>
                        <li class="active">
                            <a asp-action="Edit" asp-route-id="@Model.Id" style="font-size: 15px">Edit brand</a>
                        </li>
                        <li class="active">
                            <a asp-action="AddModel" asp-route-id="@Model.Id" style="font-size: 15px">Add Model</a>
                        </li>

                        <li>
                            <a asp-action="Index" style="font-size: 15px">Back to List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tm-title">
            <h3 class="h5 text-uppercase">Brand's info</h3>
        </div>
        <div style="text-align: center">

        </div>
        <ol class="tm-items">
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.BrandName)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.BrandName)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">Models</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @if (Model.Models == null || Model.Models.Count == 0)
                        {
                            <h5>No Models added yet</h5>
                        }
                        else
                        {
                            <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Models.FirstOrDefault().ModelName)
                                        </th>
                                        <th>
                                            Options
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Models.OrderBy(c => c.ModelName))
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModelName)
                                        </td>
                                        <td class="actions">
                                            <a asp-action="EditModel" asp-route-id="@item.Id">  Edit</a>
                                            <a asp-action="DeleteModel" asp-route-id="@item.Id">  Delete</a>
                                        </td>                                   
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </p>

                </div>
            </li>

        </ol>
    </div>
</div>
