@model AutoRepairShop.Web.Models.Account.UpdateUserDataViewModel
@{
    ViewData["Title"] = "My Profile";
    

}


<div class="row">
    <div class="col-md-4 col-lg-3">

        <section class="panel">
            <div class="panel-body">
                <div class="thumb-info mb-md">
                    @if (Model.User.ImageUrl != string.Empty)
                    {
                        <a>
                            <img src="@Url.Content(Model.User.ImageUrl)" class="rounded img-responsive" />
                        </a>
                    }
                    else
                    {
                        <img src="~/images/ico/avatar.png" class="rounded img-responsive" />
                    }
                    <div class="thumb-info-title">

                        <span class="thumb-info-inner">@this.User.Identity.Name</span>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <span class="thumb-info-type">Admin</span>
                        }
                        else if (this.User.IsInRole("Customer"))
                        {
                            <span class="thumb-info-type">Customer</span>
                        }

                    </div>
                </div>

                <div class="form-group">
                    <form asp-action="ChangePicture" asp-controller="Accounts" enctype="multipart/form-data">

                        <input type="hidden" asp-for="@Model.User.Id" />
                        <input type="hidden" asp-for="@Model.User.UserName" />
                        <input type="hidden" asp-for="@Model.User.Email" />
                        <input type="hidden" asp-for="@Model.FirstName" />
                        <input type="hidden" asp-for="@Model.LastName" />
                        <input type="hidden" asp-for="@Model.Address" />
                        <input type="hidden" asp-for="@Model.ZipCode4" />
                        <input type="hidden" asp-for="@Model.ZipCode3" />
                        <input type="hidden" asp-for="@Model.TaxPayerNumber" />
                        <input type="hidden" asp-for="@Model.PhoneNumber" />
                        <div>

                            <label class="col-md-3 control-label">Change Picture</label>
                        </div>
                        
                        <div class="col-md-6" style="margin-bottom: 5px">
                            <div class="fileupload fileupload-new" data-provides="fileupload" >
                                <div class="input-append">
                                    @*<div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>*@
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-exists">Change</span>
                                        <span class="fileupload-new">Select file</span>
                                        <input type="file"  asp-for="ImageFile"/>
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div style="text-align: center; margin-top: 5px">
                          
                            <input class="btn btn-primary" type="submit" />

                        </div>
                        

                    </form>
                   
                </div>



                <div>
                    @if (Model.User.IsActive == false)
                    {
                        <span class="text-danger">You must complete your registration in the Edit folder in order to use this app.</span>
                    }
                </div>

            </div>
        </section>



    </div>
    <div class="col-md-8 col-lg-6">

        <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
                <li class="active">
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li>
                    <a href="#edit" data-toggle="tab">Edit</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="overview" class="tab-pane active">
                    <h4 class="mb-md">Talk to us</h4>

                    <section class="simple-compose-box mb-xlg">
                        <form method="post">
                            <textarea name="message-text" data-plugin-textarea-autosize placeholder="Your message here" rows="1"></textarea>
                        </form>
                        <div class="compose-box-footer">
                            <ul class="compose-btn">
                                <li>
                                    <a class="btn btn-primary btn-xs">Post</a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <h4 class="mb-xlg">Timeline</h4>

                    <div class="timeline timeline-simple mt-xlg mb-md">
                        <div class="tm-body">
                            <div class="tm-title">

                                <h3 class="h5 text-uppercase">@DateTime.UtcNow.DayOfWeek @DateTime.UtcNow.ToShortDateString()</h3>

                            </div>

                           




                            <div id="testeul"></div>

                            <ul class="tm-items" id="listTimelineUser">
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="edit" class="tab-pane">


                    <h4 class="mb-xlg">Personal Information</h4>
                    <fieldset>

                        <form class="form-horizontal" method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.User.Id" />
                                <input type="hidden" asp-for="@Model.User.UserName" />
                                <input type="hidden" asp-for="@Model.User.Email" />


                                <label class="col-md-3 control-label" asp-for="@Model.FirstName">First Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="profileFirstName" asp-for="@Model.FirstName">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.FirstName" class="text-warning"></span>



                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.LastName">Last Name</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="profileLastName" asp-for="@Model.LastName">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.LastName" class="text-warning"></span>



                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.Address">Address</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="profileAddress" asp-for="@Model.Address">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.Address" class="text-warning"></span>


                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.ZipCode4">Zip Code</label>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <input type="text" asp-for="@Model.ZipCode4" maxlength="4" class="form-control" value="@Model.ZipCode4" placeholder="0000" id="zipcode4input" style="width: 80px">
                                        </div>
                                        <div class="visible-xs mb-md"></div>
                                        <div class="col-sm-2">
                                            <input type="text" asp-for="@Model.ZipCode3" maxlength="3" class="form-control" value="@Model.ZipCode3" placeholder="000" id="zipcode3input" style="width: 80px; margin-left: 20px">
                                        </div>
                                        <div class="visible-xs mb-md"></div>
                                        <div class="col-sm-4">
                                            <input type="text" asp-for="@Model.City" class="form-control" placeholder="city" id="cityText" style="width: 120px; margin-left: 60px">
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="User.ZipCodeId" id="zipId" />
                                </div>
                            </div>
                            <span id="validationZip" style="display: none" class="text-warning"></span>




                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.PhoneNumber">Phone Number</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" asp-for="@Model.PhoneNumber">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.PhoneNumber" class="text-warning"></span>



                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model. TaxPayerNumber">TaxPayer Number</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" asp-for="@Model.TaxPayerNumber">
                                </div>
                            </div>
                            <span asp-validation-for="@Model.TaxPayerNumber" class="text-warning"></span>

                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>





                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Change Password</h4>
                    <fieldset class="mb-xl">
                        <form class="form-horizontal" asp-action="ResetPasswordFromEditUser">
                            <input type="hidden" asp-for="@Model.User.Id" />
                            <input type="hidden" asp-for="@Model.User.UserName" />
                            <input type="hidden" asp-for="@Model.User.Email" />
                            <input type="hidden" asp-for="@Model.FirstName" />
                            <input type="hidden" asp-for="@Model.LastName" />
                            <input type="hidden" asp-for="@Model.Address" />
                            <input type="hidden" asp-for="@Model.ZipCode4" />
                            <input type="hidden" asp-for="@Model.ZipCode3" />
                            <input type="hidden" asp-for="@Model.TaxPayerNumber" />
                            <input type="hidden" asp-for="@Model.PhoneNumber" />

                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.OldPassword">Current Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="profileNewPassword" asp-for="OldPassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.NewPassword">New Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="profileNewPassword" asp-for="NewPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" asp-for="@Model.ConfirmPassword">Repeat New Password</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="profileNewPasswordRepeat" asp-for="ConfirmPassword">

                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalPush" id="submitModal">Submit</button>
                                        @*<button type="reset" class="btn btn-default">Reset</button>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                        <span class="text-info">@ViewBag.Message</span>
                    </fieldset>




                </div>
            </div>
        </div>
    </div>
    <h3>My Vehicles</h3>
    <div class="col-md-12 col-lg-3">
        @if (Model.Vehicles.Count() == 0)
        {
            <p>No vehicles yet</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.vehicle.LicencePlate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Vehicles)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LicencePlate)
                            </td>
                            <td>
                                <a asp-action="EditVehicle" asp-controller="Vehicles" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="DetailsVehicle" asp-controller="Vehicles" asp-route-id="@item.Id">Details</a>
                                <a asp-action="DeleteVehicle" asp-controller="Vehicles" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>


<script src="~/assets/vendor/jquery-autosize/jquery.autosize.js"></script>

<script type="text/javascript">
    function AppendList() {
        var creationDate = '@Model.User.CreationDate';

        var updateDate = '@Model.User.UpdateDate';


        if (updateDate.length != 0) {
            let info = document.createElement("li");
            let text = document.createTextNode("@Model.User.CreationDate");
            info.appendChild(text);
            document.getElementById("listTimelineUser").appendChild(info);
            let newDiv = document.createElement("div");
            newDiv.className = "tm-box";
            info.appendChild(newDiv);
            let para = document.createElement("p");
            para.className = "text-muted mb-none";
            let paratext = document.createTextNode("You joined  our app");
            para.appendChild(paratext);
             newDiv.appendChild(para);
        }

  

       let info = document.createElement("li");
       let text = document.createTextNode("@Model.User.CreationDate");
       info.appendChild(text);
       document.getElementById("listTimelineUser").appendChild(info);
       let newDiv = document.createElement("div");
       newDiv.className = "tm-box";
       info.appendChild(newDiv);
       let para = document.createElement("p");
       para.className = "text-muted mb-none";
       let paratext = document.createTextNode("You joined  our app");
       para.appendChild(paratext);
       newDiv.appendChild(para);



    }



</script>
<script type="text/javascript">
    document.getElementById("zipcode4input").addEventListener("change", function () {

        let zip4 = document.getElementById("zipcode4input").value;
        let zip4n = parseInt(zip4);
        if (zip4.length != 4 || isNaN(zip4n)) {
            $("#validationZip").show().html("The correct zip code format must be 0000-000");
            return;
        }
        $("#validationZip").hide();
    });

    document.getElementById("zipcode3input").addEventListener("change", function () {
        console.log("test");
        let zip3 = document.getElementById("zipcode3input").value;
        let zip3n = parseInt(zip3);
        if (zip3.length != 3 || isNaN(zip3n)) {
            $("#validationZip").show().html("The correct zip code format must be 0000-000");
            return;
        }
        else {
             $.ajax({
            type: 'POST',
            url: '@Url.Action("GetZipCodeAndCityId", "Accounts")',
            dataType: 'json',
            data: { zip4: $("#zipcode4input").val(), zip3: $("#zipcode3input").val() },
            success: function (data) {
                $("#cityText").val(data.split(',')[1]);
                $("#zipId").val(data.split(',')[0]);

            },
            error: function () {
                alert("The zip code entered does not exists in our database, do you confirm it is correct?");
            }
        });
        }
        $("#validationZip").hide();
    });





</script>

<script type="text/javascript">
    this.onload(AppendList())
</script>



