@model AutoRepairShop.Web.Models.VehicleViewModels.VehicleDetailsViewModel

@{
    ViewData["Title"] = "Vehicle Details";
}



<div class="timeline">
    <div class="tm-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li>
                            <label>Go to</label>
                        </li>
                        <li class="active">
                            <a asp-action="EditVehicle" asp-route-id="@Model.Id" style="font-size: 15px">Edit</a>
                        </li>
                        <li>
                            <a asp-action="Index" style="font-size: 15px">Back to List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tm-title">
            <h3 class="h5 text-uppercase">Your car's info</h3>
        </div>
        <div style="text-align: center">

        </div>
        <ol class="tm-items">
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.LicencePlate)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.LicencePlate)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.BrandName)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.BrandName)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.ModelName)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.ModelName)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.EngineCapacity)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.EngineCapacity)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.Fueltype)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Fueltype)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.ColorName)</div>
                    </time>
                </div>
                <div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.ColorName)
                    </p>

                </div>
            </li>

        </ol>
    </div>
 </div>