@model AutoRepairShop.Web.Models.ActiveScheduleViewModel.ScheduleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<div class="timeline">
    <div class="tm-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li>
                            <label>Go to</label>
                        </li>
                        <li >
                            <a asp-action="EditSchedule" asp-route-id="@Model.ActiveScheduleId" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 250px">Edit</a>
                        </li>




                        @if (!this.User.IsInRole("Customer"))
                        {
                            <li>
                                <a asp-action="ShowScheduleForDealership"  class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 250px">Exit</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="index"  class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 250px">Exit</a>
                            </li>


                        }
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tm-title">
            <h3 class="h5 text-uppercase">Your shcedule's info</h3>
        </div>
        <div style="text-align: center">

        </div>
        <ol class="tm-items">
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.LicencePLate)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.LicencePLate)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px"> @Html.DisplayNameFor(model => model.Brand)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Brand)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.Model)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Model)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.Dealership)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Dealership)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px">@Html.DisplayNameFor(model => model.Service)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Service)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px"> @Html.DisplayNameFor(model => model.Date)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Date)
                    </p>

                </div>
            </li>
            <li>
                <div class="tm-info">
                    <div class="tm-icon"><i class="fa fa-arrow-right"></i></div>
                    <time class="tm-datetime">
                        <div class="tm-datetime-time" style="font-size: 13px"> @Html.DisplayNameFor(model => model.Remarks)</div>
                    </time>
                </div>
                <div>
                    <p style="font-size: 20px">
                        @Html.DisplayFor(model => model.Remarks)
                    </p>

                </div>
            </li>

        </ol>
    </div>
</div>