@model IEnumerable<AutoRepairShop.Web.Data.Entities.ScheduleDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.LicencePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealership.DealerShipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveSchedule.Services.ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveSchedule.ScheduleDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.LicencePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealership.DealerShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveSchedule.Services.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveSchedule.Services.ServiceDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>