@model AutoRepairShop.Web.Data.Entities.Dealership

@{
    ViewData["Title"] = "Edit Dealership";
}




<div class="row">
    <div class="col-lg-12">
        <section class="panel">

            <div class="panel-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="DealerShipName"></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputDefault" asp-for="DealerShipName">
                        </div>
                        <span asp-validation-for="DealerShipName" class="text-warning"></span>
                    </div>



                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="Address"></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputDefault" asp-for="Address">
                        </div>
                        <span asp-validation-for="Address" class="text-warning"></span>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="@Model.ZipCode.ZipCode4">Zip Code</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-2">
                                    <input type="text" asp-for="@Model.ZipCode.ZipCode4" maxlength="4" class="form-control"  placeholder="0000" id="zipcode4input">
                                </div>
                                <div class="visible-xs mb-md"></div>
                                <div class="col-sm-2">
                                    <input type="text" asp-for="@Model.ZipCode.ZipCode3" maxlength="3" class="form-control"  placeholder="000" id="zipcode3input">
                                </div>
                                <div class="visible-xs mb-md"></div>
                                <div class="col-sm-4">
                                    <input type="text" asp-for="City" class="form-control" placeholder="city" id="cityText">
                                </div>
                            </div>
                            <input type="hidden" asp-for="@Model.ZipCodeId" id="zipId" />
                        </div>

                    </div>
                    <span id="validationZip" style="display: none" class="text-warning"></span>




                    <div style="text-align: center">
                        <div class="form-group">
                            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Change</button>
                            <button asp-action="Index" formnovalidate class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Exit</button>
                        </div>
                    </div>



                </form>
            </div>
        </section>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <!-- Specific Page Vendor -->
    <script src="~/assets/vendor/jquery-autosize/jquery.autosize.js"></script>
    <script src="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#zipcode4input").change(function () {
                let zip4 = $("#zipcode4input").val();


                let zip4n = parseInt($("#zipcode4input").val());

                if (zip4.length != 4 || isNaN(zip4n)) {
                    $("#validationZip").show().html("The correct zip code format must be 0000-000");
                    return;
                }
                $("#validationZip").hide();
            });


            $("#zipcode3input").change(function () {
                let zip3 = $("#zipcode3input").val();


                let zip3n = parseInt($("#zipcode4input").val());

                if (zip3.length != 3 || isNaN(zip3n)) {
                    $("#validationZip").show().html("The correct zip code format must be 0000-000");
                    return;
                }

                $("#validationZip").hide();

            });
        });

    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#zipcode3input").blur(function () {
                if ($("#zipcode3input").val().length != 3) {
                    return;
                }
       
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetZipCodeAndCityId")',
                    dataType: 'json',
                    data: {zip4: $("#zipcode4input").val(), zip3: $("#zipcode3input").val()},
                    success: function (data) {
                        $("#cityText").val(data.split(',')[1]);
                        $("#zipId").val(data.split(',')[0]);

                },
                error: function () {
                    alert("The zip code entered does not exists in our database, do you confirm it is correct?");
                }

            });
        });
        })


    </script>





}