@model IEnumerable<AutoRepairShop.Web.Data.Entities.Dealership>

@{
    ViewData["Title"] = "Dealerships";
}




<section class="panel">
    <div class="panel-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li>
                            <label>Go to</label>
                        </li>
                        <li class="active">
                            <a asp-action="Create" style="font-size: 15px">Create new dealership</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeactivationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DealerShipName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeactivationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DealerShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode.FullZipCode)
                    </td>
                    <td class="actions">
                        <a asp-action="Details" asp-route-id="@item.Id">  Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id">  Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">  Delete</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</section>