@model IEnumerable<AutoRepairShop.Web.Data.Entities.Country>

@{
    ViewData["Title"] = "Countries";
}




<section class="panel">
    <div class="panel-body">
        <div class="inner-toolbar clearfix">
            <ul>
                <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li>
                            <label>Go to</label>
                        </li>
                        <li>
                            <a asp-action="CreateCountry" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 250px">Add New Country</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CountryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DistrictsCount)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DistrictsCount)
                    </td>

                    <td class="actions">
                        <a asp-action="DetailsCountry" asp-route-id="@item.Id">  Details</a>
                        <a asp-action="EditCountry" asp-route-id="@item.Id">  Edit</a>
                        <a asp-action="DeleteCountry" asp-route-id="@item.Id">  Delete</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</section>
